* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* INDEX */

.backgroundBody {

    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, hsla(0, 0%, 26%, 0.5), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, hsla(0, 0%, 26%, 0.507), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}


.textoInicio {
    text-align: center;
    justify-content: center;
}

.textoInicio h2 {
    padding-top: 80px;
    text-align: center;
    font-size: 50px;
    color: #fff;
}

.textoInicio p {
    text-align: center;
    font-size: 30px;
    color: #fff
}

.contenedorSectionIndex {
    background: hsla(0, 0%, 0%, 0.363);
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 20px;
    display: grid;
    grid-gap: 35px;

}

.section {

    border: 1px solid hsla(0, 0%, 100%, 0.192);
    background: hsla(0, 0%, 0%, 0.363);
    overflow: hidden;
    text-align: center;
    border-radius: 1px;
    transition: .3s ease all;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section:hover {
    transform: scale(1.01);

}

.imgSobreNosotros {
    background-image: url(../assets/about-us.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}




.imgTienda {
    background-image: url(../assets/shop.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;
}

.imgContacto {

    background-image: url(../assets/contact2.jpg);
    height: 400px;
    background-size: cover;
    background-position: center;

}

.textoSobreNosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    background: #EDEEF0;
    padding: 10px;
}

.textoSobreNosotros>h2 {
    margin-bottom: 15px;
    font-size: 50px;
}

.textoProductos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    background: #0F0F0F;
    padding: 10px;
}

.textoProductos>h2 {
    margin-bottom: 15px;
    font-size: 50px;
}

.textoTienda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    background: #EDEEF0;
    padding: 10px;
}

.textoTienda>h2 {
    margin-bottom: 15px;
    font-size: 50px;
}

.textoContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    color: #fff;
    background: #0F0F0F;
    padding: 10px;
}

.textoContacto>h2 {
    margin-bottom: 15px;
    font-size: 50px;
}

.footer {

    text-align: center;
    background: #fff;
    padding: 30px;
}

/*SOBRE NOSOTROS*/

.contenedorHeaderSobreNosotros {
    padding: 20px;
    height: 100vh;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, hsla(0, 0%, 26%, 0.5), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, hsla(0, 0%, 26%, 0.507), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}


/*NUESTROS PRODUCTOS*/

.backgroundBody {
    padding: 20px;
    height: 94vh;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, hsla(0, 0%, 26%, 0.5), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, hsla(0, 0%, 26%, 0.507), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;

}

.nuestrosProductosTitulo {
    font-size: 50px;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 30px;
}

.contenedorSeccionProductos {
    background: hsla(0, 0%, 0%, 0.363);
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
    padding-bottom: 20px;

}

.producto {

    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid hsla(0, 0%, 100%, 0.192);
    background: hsla(0, 0%, 0%, 0.363);
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    transition: .3s ease all;
    height: 300px;

}

.producto:hover {
    transform: scale(1.02);
}

.productoImg1 {
    background-image: url(../assets/producto1.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.productoImg2 {
    background-image: url(../assets/producto2.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.productoImg3 {
    background-image: url(../assets/producto3.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.productoImg4 {
    background-image: url(../assets/producto4.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.productoImg5 {
    background-image: url(../assets/producto5.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.productoImg6 {
    background-image: url(../assets/producto6.jpg);
    height: 300px;
    background-size: cover;
    background-position: center;
}

.productoDescripcion {
    font-size: 20px;
    padding: 30px;
    text-align: left;
    color: #fff;
}


/*TIENDA*/

.backgroundBody {
    padding: 20px;
    height: 100vh;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, hsla(0, 0%, 26%, 0.5), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, hsla(0, 0%, 26%, 0.507), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.tiendaTitulo {
    font-size: 30px;
    text-align: center;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 20px;
}

.contenedorItemsTienda {
    margin-top: 20px;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 20px;
}

.item {
    border: 1px solid hsla(0, 0%, 100%, 0.192);
    background: hsla(0, 0%, 0%, 0.363);
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    transition: .3s ease all;


}

.item:hover {
    transform: scale(1.02);
}

.itemImg1 {
    background-image: url(../assets/Item-tienda1.jpg);
    height: 200px;
    background-size: auto;
    background-position: center;
}

.itemImg2 {
    background-image: url(../assets/Item-tienda2.jpg);
    height: 200px;
    background-size: auto;
    background-position: center;
}

.itemImg3 {
    background-image: url(../assets/Item-tienda3.jpg);
    height: 200px;
    background-size: auto;
    background-position: center;
}

.itemImg4 {
    background-image: url(../assets/Item-tienda4.jpg);
    height: 200px;
    background-size: auto;
    background-position: center;
}

.itemImg5 {
    background-image: url(../assets/Item-tienda5.jpg);
    height: 200px;
    background-size: auto;
    background-position: center;
}

.itemImg6 {
    background-image: url(../assets/Item-tienda6.jpg);
    height: 200px;
    background-size: auto;
    background-position: center;
}

.contenedorItemsTienda>.item>.tituloItem {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.contenedorItemsTienda>.item>.descripcionItem {
    font-style: italic;
    color: #fff;
}

.contenedorItemsTienda>.item>.precioItem {
    color: #fff;
}

button {
    outline: none;
    background: #000;
    font-family: "Roboto", sans-serif;
    color: #fff;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    font-size: 15px;
    margin: 20px 0;
    transition: .3s ease all;

}

button:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}


/*CONTACTO*/

.contenedorHeaderContacto {
    padding: 20px;
    height: 120vh;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, hsla(0, 0%, 26%, 0.5), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, hsla(0, 0%, 26%, 0.507), hsla(0, 0%, 0%, 0.609)), url(../assets/backgroun3.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.contenedorFormularioContacto {
    display: flex;
    justify-content: center;
    padding-top: 60px;
    background: none;
}

.formularioContacto {
    background-color: hsla(0, 0%, 0%, 0.267);
    display: flex;

}

.fieldset {
    padding: 20px;
}

.legend {
    
    padding-left: 10px;
    padding-right: 10px;
}

.label {
  
    padding-right: 5px;
}


/*MEDIA QUERIES*/

/*HOME*/
@media (max-width:1000x) {
    .contenedorSectionIndex {
        background: hsla(0, 0%, 0%, 0.363);
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 20px;
        display: grid;
        gap: 30px;

    }



    .section {
        display: grid;
        grid-template-columns: 1fr;

    }



}

@media (max-width:500px) {
    .textoInicio {
        padding-top: 37px;
        text-align: center;
    }

    .textoInicio h2 {

        text-align: center;
        font-size: 50px;
        color: #fff;
    }

    .textoInicio p {
        text-align: center;
        font-size: 30px;
        color: #fff
    }
}

@media (max-width:400px) {
    .textoInicio {
        padding-top: 75px;
        text-align: center;
    }

    .textoInicio h2 {

        text-align: center;
        font-size: 45px;
        color: #fff;
    }

    .textoInicio p {
        text-align: center;
        font-size: 25px;
        color: #fff
    }

}

/*TIENDA*/

@media (max-width:1000px) {
    .contenedorItemsTienda {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:550px) {
    .contenedorItemsTienda {
        grid-template-columns: 1fr;
    }
}